.color-292929{
	background-color: #292929
}

.color-841518{
	background-color: #841518
}

.font-color-292929{
	color: #292929
}

.font-color-5a5a5a{
	color: #5a5a5a
}

.font-color-e1e1e1{
	color: #e1e1e1
}

.font-color-d1b0b2{
	color: #d1b0b2
}
 
.font-color-841518{
	color: #841518
}

.font30px{
	font-size: 30px
}

a,
a:focus,
a:hover {
  color: #5a5a5a;
}

.zhxi-link{
	color: #d1b0b2
}
.zhxi-link:focus{
	color: #d1b0b2
}
.zhxi-link:hover{
	color: #d1b0b2
}

.navFont{
	font-size: 30px;
	margin-top: 40px;
	text-align: center
}

.header-width{
  max-width: 700px;
}

.margin{
	margin-top: 100px;
	margin-bottom: 100px;
}

#particle-slider{
	position: relative;
	height: 100%;
	padding: 0px !important;
}

#wrapper2{
	background-color:#f0f0f0;
}

#wrapper3{
	background-color: #841518;
	color: #f0f0f0
}

#wrapper4{
	background-color: #f0f0f0;
	color: #2e2e2e
}

#wrapper5{
	background-color: #d1d1d1;
	color: #2e2e2e
}

#wrapper6{
	background-color: #292929;
	color: #e1e1e1
}

#wrapper7{
	background-color: #3f3f3f
}

h1{
	font-size: 60px
}

.noPadding{
	padding: 0px
}

#marketing{
	transform: rotate(90deg)
}


.padding{
	padding:40px
}

.menu-link:active{
	background-color: #7b7b7b
}

.minimap {
	opacity: 0.3;
	float: left;
	height: 16.8px
}

.minimap:hover {
	opacity: 1;
}

.map1-h {
	color: #e1e1e1
}



html,
body {
  background-color: black;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
html .pslides,
body .pslides,
html > .dg,
body > .dg {
  display: none;
}
@media (min-width: 1000px) {
  body > .dg {
    display: block;
  }
}


@keyframes flickerAnimation {
	0%   { opacity:1; }
	50%  { opacity:0; }
	100% { opacity:1; }
}
@-o-keyframes flickerAnimation{
	0%   { opacity:1; }
	50%  { opacity:0; }
	100% { opacity:1; }
}
@-moz-keyframes flickerAnimation{
	0%   { opacity:1; }
	50%  { opacity:0; }
	100% { opacity:1; }
}
@-webkit-keyframes flickerAnimation{
	0%   { opacity:1; }
	50%  { opacity:0; }
	100% { opacity:1; }
}
.animate-flicker {
	 -webkit-animation: flickerAnimation 1s infinite;
	 -moz-animation: flickerAnimation 1s infinite;
	 -o-animation: flickerAnimation 1s infinite;
	  animation: flickerAnimation 1s infinite;
}