.color-841518{
	background-color: #841518
}

.font-color-292929{
	color: #292929
}

.font-color-5a5a5a{
	color: #5a5a5a
}

.font-color-e1e1e1{
	color: #e1e1e1
}

.font-color-d1b0b2{
	color: #d1b0b2
}
 
.font-color-841518{
	color: #841518
}

.font30px{
	font-size: 30px
}

a,
a:focus,
a:hover {
  color: #5a5a5a;
}

.zhxi-link{
	color: #d1b0b2
}
.zhxi-link:focus{
	color: #d1b0b2
}
.zhxi-link:hover{
	color: #d1b0b2
}

.navFont{
	font-size: 30px;
	margin-top: 40px;
	text-align: center
}

.header-width{
  max-width: 700px;
}

.margin{
	margin-top: 100px;
	margin-bottom: 100px;
}

#particle-slider{
	position: relative;
	height: 100%;
	padding: 0px !important;
}

#wrapper2{
	background-color:#f0f0f0;
}

#wrapper3{
	background-color: #841518;
	color: #f0f0f0
}

#wrapper4{
	background-color: #f0f0f0;
	color: #2e2e2e
}

#wrapper5{
	background-color: #d1d1d1;
	color: #2e2e2e
}

#wrapper6{
	background-color: #292929;
	color: #e1e1e1
}

#wrapper7{
	background-color: #3f3f3f
}

h1{
	font-size: 60px
}

.padding{
	padding:40px
}

.fp-controlArrow.fp-next:hover,
.fp-controlArrow.fp-prev:hover{
    border-bottom: 6px solid;
    border-left: 6px solid;
    top: 48%;
    transition: all 0.5s
}

/*for the map*/
.minimap {
	opacity: 0.3;
	float: left;
	height: 16.8px
}

.minimap:hover {
	opacity: 1;
	transition: opacity 1s
}

/*for whole page slider*/
html,
body {
  background-color: #292929;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
html .pslides,
body .pslides,
html > .dg,
body > .dg {
  display: none;
}
@media (min-width: 1000px) {
  body > .dg {
    display: block;
  }
}

/*for the flickering animation*/
@keyframes flickerAnimation {
	0%   { opacity:1; }
	50%  { opacity:0; }
	100% { opacity:1; }
}
@-o-keyframes flickerAnimation{
	0%   { opacity:1; }
	50%  { opacity:0; }
	100% { opacity:1; }
}
@-moz-keyframes flickerAnimation{
	0%   { opacity:1; }
	50%  { opacity:0; }
	100% { opacity:1; }
}
@-webkit-keyframes flickerAnimation{
	0%   { opacity:1; }
	50%  { opacity:0; }
	100% { opacity:1; }
}
.animate-flicker {
	 -webkit-animation: flickerAnimation 1s infinite;
	 -moz-animation: flickerAnimation 1s infinite;
	 -o-animation: flickerAnimation 1s infinite;
	  animation: flickerAnimation 1s infinite;
}

/*for the overlay*/
#overlay-intro {
	opacity: 0;
    display: flex;
    position: fixed;
    z-index: 33;
    top:0;
    height: 100%;
    width: 100%;
    background-color: rgba(34, 34, 34, 0.8);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    -o-backdrop-filter: blur(10px);
	-moz-backdrop-filter: blur(10px);
	transition: all 1s
}
 
#overlay-intro.active {
	opacity: 1;
	display: flex;
	transition: all 1s

}

#popup-intro {
	opacity: 0;
    position: relative;
    margin: auto;
    background-color: #5a5a5a;
    color: black;
    border-top: solid #292929 2rem;
    border-bottom: solid #292929 0.5rem;
    border-radius: 5px;
	box-shadow: 2px 2px 6px black;
	transition: all 1s
}
 
#overlay-intro.active #popup-intro {
	opacity: 1;
	transition: all 1s

}

#popup-intro > div {
    margin: auto;
    padding: 1rem 1.5rem 0 1.5rem;
}
 
#close-popup {
    display: none;
    position: absolute;
    top: -2rem;
    right: 0px;
    border: none;
    background-color: transparent;
    padding: 0.3rem 0.5rem;
}